 .modificar {
    background-color: #f5c209;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.modificar:hover {
    background-color: #fcd031;
    color: black;
}

.modificar:active {
    background-color: red;
}
@media (max-width: 768px) {
    .modificar {
        background-color: #B760D5 ;
        padding: 10px 20px;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 0.8rem;
    }
}