.principal{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    padding: 15px;
}
.tarjeta{
    display: flex;
    color: aliceblue;
    padding: 15px;
    flex-direction: column;
    width: 300px;
    height: 400px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    
    background-size: 100% 100%;
}
.tarjeta__header{
    height: 30%;
    color:#fcd031 ;
}
.tarjeta__body{
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: center;
    align-items: center;
    text-align: justify; 
}
.tarjeta__precio{
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    color:#fcd031;
}
.tarjeta__footer{
    height: 30%;    
    display: flex;
    justify-content: center;
    align-items: center;
}
